header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(21, 61, 156);
}
.h2-1{
    text-align: center;
}
b{
    text-align: center;
}
body{
    background-color: antiquewhite;
}
nav{
    color: azure;
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}
.img01{
    margin: 0 auto;
}
.video02{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
h3{
    text-align: center;
}
.p2{
    text-align: center;
}
footer{
    position:sticky;
    bottom: 0;
}